.home-page-button {
}

.homeButton {
  // border: 1px solid green;
  // box-shadow:  inset 0 0 2px 0 rgba(255,255,255,.4),
  // inset 0 0 3px 0 rgba(0,0,0,.4),
  // inset 0 0 3px 5px rgba(0,0,0,.05),
  // 2px 2px 4px 0 rgba(0,0,0,.25);
  // box-shadow: -6px -6px 6px black, 6px 6px 6px #000;
  // outline: 5px inset #ffffff;
  // outline-offset: 1px;
  border: 10px outset #e2e2e2;
}
.row-button {
  padding: 0;
  border: 10px outset #e2e2e2;
}

svg {
  display: none;
}