.nav {
  width: 300px;
  height: 100vh;
  position: fixed;
  overflow-y: scroll;
  background-color: white;
}

.temima-header {
  font-family:  "Trebuchet MS"
}
@media print {
  .nav {
    display: none !important;
  }
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

a {
  color: #5a5a5a;
  text-decoration: none;
  cursor: pointer;
  margin-top: 0;
}

a:hover {
  font-weight: bold;
}
.link-header {
  font-size: 1.2rem;
  color: #5a5a5a;
  margin-bottom: 0;
}
.link {
  font-size: 1rem;
  margin-top: 0;
}
