.App {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-color: black;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
  color: rgb(49, 49, 49);
}
.AppActive {
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  animation: background-zoom forwards;
  animation-duration: 5s;
  animation-delay: 2s;
}
.artContainer {
  padding-left: 5%;
  padding-right: 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}
.activeContainer {
  display: flex;
  padding-top: 100px;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.activeContainer * {
  margin: 0 20px;
}
.activeDescription {
  display: flex;
  margin: 20px 0;
}
.artWork {
  max-width: 300px;
  object-fit: contain;
}
.singleArtwork {
  max-width: 300px;
  object-fit: cover;
}
.artPiece {
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-sizing: border-box;
  max-height: 100vh;
}
.activeButtons *{
  width: 150px;
}
.artPiece:hover {
  border: 5px solid black;
}
.wall {
  padding-top: 5%;
}
.wall h1 {
  width: 100%;
  font-size: 4rem;
  text-align: center;
  margin: 0;
}
.active {
  animation: zoom-in forwards;
  animation-duration: 2s;
}
.inactive {
  animation: fade-out forwards;
  animation-duration: 2s;
  cursor: pointer;
  height: 100%;
  width: 100%;
  object-fit: contain;
  box-sizing: border-box;
  max-height: 100vh;
}
.singleArtwork {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@keyframes zoom-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 10%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes background-zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.4, 1.4);
  }
}
