html {
  background-color: rgb(235, 235, 235);
  // font-family:"Trebuchet MS" !important;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  @media screen and (min-width: 1280px) {
    justify-content: center;
  }

  font-family: "Trebuchet MS" !important;
}
body * {
  box-sizing: border-box;
}

.content {
  display: flex;
  // width: 1582px;
}
.site-content-with-header {
  padding-left: 300px;
}

main {
  background-color: white;
  border-left: 1px solid black;
  min-height: calc(100vh);
  width: 950px;
  padding: 0;
}
