html {
  background-color: rgb(195, 195, 195);
  // background-color: white;
  // font-family:"Trebuchet MS" !important;
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  // background-color: white;
  background-color: rgb(205, 205, 205);
  @media screen and (min-width: 1280px) {
    justify-content: center;
  }

  font-family: "Arial" !important;
}
body * {
  box-sizing: border-box;
}

.content {
  display: flex;
  // width: 1582px;
}
.site-content-with-header {
  padding-left: 300px;
}

@media print {
  .site-content-with-header {
    padding-left: 0;
  }

  .hide-print {
    display: none;
  }
}

main {
  background-color: white;
  border-left: 1px solid black;
  min-height: calc(100vh - 245px);
  width: 950px;
  padding: 0;
}
